In [43]:
import requests
import pandas as pd
import pymongo
from pymongo import MongoClient
from dotenv import load_dotenv
import os
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')

In [11]:
print(ATLAS_KEY)

mongodb+srv://olivierkotwica:KcNKXTaLpUNuAMv9@cluster0.vvk5afp.mongodb.net/test

In [13]:
client = MongoClient(ATLAS_KEY)

**Partie 1 : Se former**

**fichier csv film top 250**

In [19]:
df_film250 = pd.read_csv("./imdb_scraper/film.csv")

In [20]:
df_film250

,acteurs,annee,description,duree,genre,pays,public,score,titre
0,"Tim Robbins,Bob Gunton,Morgan Freeman",1994,"Over the course of several years, two convicts...",142,Drama,United States,R,9.3,The Shawshank Redemption
1,"James Caan,Al Pacino,Marlon Brando",1972,The aging patriarch of an organized crime dyna...,175,Crime,United States,R,9.2,The Godfather
2,"Christian Bale,Heath Ledger,Aaron Eckhart",2008,When the menace known as the Joker wreaks havo...,152,Action,United States,PG-13,9.0,The Dark Knight
3,"Robert Duvall,Al Pacino,Robert De Niro",1974,The early life and career of Vito Corleone in ...,202,Crime,United States,R,9.0,The Godfather Part II
4,"Val Kilmer,Al Pacino,Robert De Niro",1995,A group of high-end professional thieves start...,170,Action,United States,R,8.3,Heat
...,...,...,...,...,...,...,...,...,...
238,"Ian McKellen,Orlando Bloom,Elijah Wood",2001,A meek Hobbit from the Shire and eight compani...,178,Action,New Zealand,PG-13,8.8,The Lord of the Rings: The Fellowship of the Ring
239,"Uma Thurman,Samuel L. Jackson,John Travolta",1994,"The lives of two mob hitmen, a boxer, a gangst...",154,Crime,United States,R,8.9,Pulp Fiction
240,"Viggo Mortensen,Ian McKellen,Elijah Wood",2003,Gandalf and Aragorn lead the World of Men agai...,201,Action,New Zealand,PG-13,9.0,The Lord of the Rings: The Return of the King
241,"Ben Kingsley,Liam Neeson,Ralph Fiennes",1993,"In German-occupied Poland during World War II,...",195,Biography,United States,R,9.0,Schindler's List
242,"Henry Fonda,Lee J. Cobb,Martin Balsam",1957,The jury in a New York City murder trial is fr...,96,Crime,United States,Approved,9.0,12 Angry Men

**fichier csv serie top 250**

In [17]:
df_serie250 = pd.read_csv("./imdb_scraper/serie.csv")

In [18]:
df_serie250

,acteurs,annee,description,duree,genre,pays,public,score,titre
0,NaN,2017,David Attenborough returns to the world's ocea...,6h 4m,Documentary,United Kingdom,TV-G,9.3,Blue Planet II
1,"Dominic West,Sonja Sohn,Lance Reddick",2002–2008,"The Baltimore drug scene, as seen through the ...",59m,Crime,United States,TV-MA,9.3,The Wire
2,NaN,2006,A documentary series on the wildlife found on ...,8h 58m,Documentary,United Kingdom,TV-PG,9.4,Planet Earth
3,"Mae Whitman,Dee Bradley Baker,Zach Tyler Eisen",2005–2008,"In a war-torn world of elemental magic, a youn...",23m,Animation,United States,TV-Y7-FV,9.3,Avatar: The Last Airbender
4,"Bryan Cranston,Anna Gunn,Aaron Paul",2008–2013,A chemistry teacher diagnosed with inoperable ...,49m,Crime,United States,TV-MA,9.5,Breaking Bad
...,...,...,...,...,...,...,...,...,...
245,NaN,2017,A comprehensive history of the United States' ...,16h 30m,Documentary,United States,TV-MA,9.1,The Vietnam War
246,"Martin Freeman,Benedict Cumberbatch,Una Stubbs",2010–2017,A modern update finds the famous sleuth and hi...,1h 28m,Crime,United Kingdom,TV-14,9.1,Sherlock
247,"Jay Overholts,Rod Serling,Robert McCord",1959–1964,Ordinary people find themselves in extraordina...,51m,Drama,United States,TV-PG,9.1,The Twilight Zone
248,NaN,2020,"Charting the rise of the 1990s Chicago Bulls, ...",8h 11m,Documentary,United States,TV-MA,9.1,The Last Dance
249,NaN,2009,David Attenborough's legendary BBC crew explai...,7h 53m,Documentary,United Kingdom,TV-G,9.1,Life

**Partie 2 : MongoDB**

**Quel est le film le plus long ?**

In [72]:
# se connecter à la base de données MongoDB
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver le film le plus long
pipeline = [
    {"$group": {"_id": "$titre", "duree": {"$max": "$duree"}}},
    {"$sort": {"duree": -1}},
    {"$limit": 1}
]
result = collection.aggregate(pipeline)

# afficher le titre du film le plus long
for r in result:
    print(r['_id'])

Gone with the Wind

In [74]:
# se connecter à la base de données MongoDB
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

result = collection.find_one({"titre": "Gone with the Wind"})
print(result["duree"])

238

**Quels sont les 5 films les mieux notés ?**

In [75]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver les 5 films avec le plus haut score
result = collection.find().sort("score", pymongo.DESCENDING).limit(5)

# afficher les titres des 5 films avec le plus haut score
for r in result:
    print(r['titre'])

The Shawshank Redemption
The Godfather
The Lord of the Rings: The Return of the King
The Godfather Part II
The Dark Knight

**Dans combien de films a joué Morgan Freeman ? Tom Cruise ?**

In [76]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver le nombre de films dans lesquels Morgan Freeman a joué
count = collection.count_documents({"acteurs": "Morgan Freeman"})

# afficher le nombre de films dans lesquels Morgan Freeman a joué
print("Morgan Freeman a joué dans", count, "films.")

Morgan Freeman a joué dans 4 films.

In [77]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver le nombre de films dans lesquels Tom Cruise a joué
count = collection.count_documents({"acteurs": "Tom Cruise"})

# afficher le nombre de films dans lesquels Morgan Freeman a joué
print("Tom Cruise a joué dans", count, "films.")

Tom Cruise a joué dans 1 films.

**Quels sont les 3 meilleurs films d’horreur ? Dramatique ? Comique ?**

In [78]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver les 3 films du genre "horreur" avec le plus haut score
result = collection.find({"genre": "Horror"}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "horreur" avec le plus haut score
for r in result:
    print(r['titre'])

Psycho
Alien
The Thing

In [79]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver les 3 films du genre "dramatique" avec le plus haut score
result = collection.find({"genre": "Drama"}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "dramatique" avec le plus haut score
for r in result:
    print(r['titre'])

The Shawshank Redemption
Forrest Gump
Fight Club

In [80]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver les 3 films du genre "comique" avec le plus haut score
result = collection.find({"genre": "Comedy"}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "comique" avec le plus haut score
for r in result:
    print(r['titre'])

Life Is Beautiful
Modern Times
City Lights

**Parmi les 100 films les mieux notés, quel pourcentage sont américains ? Français ?**

In [86]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour trouver les 100 films avec le plus haut score
top_100_films = collection.find().sort("score", pymongo.DESCENDING).limit(100)

# compter le nombre de films pour chaque pays parmi les 100 films avec le plus haut score
result = collection.aggregate([
    {"$group": {"_id": "$pays", "nombre_de_films": {"$sum": 1}}},
    {"$sort": {"nombre_de_films": -1}}
])

# calculer le pourcentage pour chaque pays
total_films = collection.count_documents({})
for r in result:
    percentage = (r["nombre_de_films"] / total_films) * 100
    print(r["_id"], ":", percentage, "%")

AttributeError: 'Cursor' object has no attribute 'aggregate'

**Quel est la durée moyenne d’un film en fonction du genre ?**

In [37]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

# requête pour calculer la durée moyenne d'un film en fonction de son genre
result = collection.aggregate([
    {"$group": {"_id": "$genre", "duree_moyenne": {"$avg": "$duree"}}}
])

# afficher les résultats
for r in result:
    print(r["_id"], ":", r["duree_moyenne"])

Horror : 114.72727272727273
Crime : 131.35164835164835
Animation : 101.29508196721312
Adventure : 143.82258064516128
Drama : 129.2087912087912
Comedy : 110.88709677419355
Biography : 141.1864406779661
Action : 138.20535714285714
Film-Noir : 93.0
Mystery : 121.66666666666667
Western : 148.5

In [38]:
# Fonction pour convertir la durée en minutes
def convert_duration_to_minutes(duration):
    if pd.isna(duration) or duration == '':
        return None
    elif 'h ' in duration:
        hours, minutes = duration.split('h ')
        hours = int(hours)
        minutes = int(minutes[:-1])
        total_minutes = hours * 60 + minutes
    else:
        hours = int(duration[:-1])
        total_minutes = hours * 60
    return total_minutes