In [2]:
import requests
import pandas as pd
import pymongo
from pymongo import MongoClient
from dotenv import load_dotenv
import os

In [ ]:
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')

In [11]:
print(ATLAS_KEY)

mongodb+srv://olivierkotwica:KcNKXTaLpUNuAMv9@cluster0.vvk5afp.mongodb.net/test

In [13]:
client = MongoClient(ATLAS_KEY)

**Partie 1 : Se former**

**fichier csv film top 250**

In [3]:
df_film250 = pd.read_csv("./imdb_scraper/film.csv")

In [4]:
df_film250

,acteurs,annee,description,duree,genre,pays,public,score,titre
0,"Bob Gunton,Morgan Freeman,Tim Robbins",1994,"Over the course of several years, two convicts...",142,Drama,United States,R,9.3,The Shawshank Redemption
1,"Al Pacino,Marlon Brando,James Caan",1972,The aging patriarch of an organized crime dyna...,175,"Crime,Drama",United States,R,9.2,The Godfather
2,"Heath Ledger,Christian Bale,Aaron Eckhart",2008,When the menace known as the Joker wreaks havo...,152,"Action,Drama,Crime",United States,PG-13,9.0,The Dark Knight
3,"Al Pacino,Robert De Niro,Robert Duvall",1974,The early life and career of Vito Corleone in ...,202,"Crime,Drama",United States,R,9.0,The Godfather Part II
4,"Gregory Peck,John Megna,Frank Overton",1962,"Atticus Finch, a widowed lawyer in Depression-...",129,"Crime,Drama",United States,Approved,8.3,To Kill a Mockingbird
...,...,...,...,...,...,...,...,...,...
244,"Orlando Bloom,Elijah Wood,Ian McKellen",2001,A meek Hobbit from the Shire and eight compani...,178,"Action,Drama,Adventure",New Zealand,PG-13,8.8,The Lord of the Rings: The Fellowship of the Ring
245,"Uma Thurman,Samuel L. Jackson,John Travolta",1994,"The lives of two mob hitmen, a boxer, a gangst...",154,"Crime,Drama",United States,R,8.9,Pulp Fiction
246,"Viggo Mortensen,Elijah Wood,Ian McKellen",2003,Gandalf and Aragorn lead the World of Men agai...,201,"Action,Drama,Adventure",New Zealand,PG-13,9.0,The Lord of the Rings: The Return of the King
247,"Ralph Fiennes,Ben Kingsley,Liam Neeson",1993,"In German-occupied Poland during World War II,...",195,"History,Drama,Biography",United States,R,9.0,Schindler's List
248,"Lee J. Cobb,Henry Fonda,Martin Balsam",1957,The jury in a New York City murder trial is fr...,96,"Crime,Drama",United States,Approved,9.0,12 Angry Men

**fichier csv serie top 250**

In [5]:
df_serie250 = pd.read_csv("./imdb_scraper/serie.csv")

In [6]:
df_serie250

,acteurs,annee,description,duree,genre,pays,public,score,titre
0,NaN,2017,David Attenborough returns to the world's ocea...,6h 4m,Documentary,United Kingdom,TV-G,9.3,Blue Planet II
1,"Dominic West,Sonja Sohn,Lance Reddick",2002â€“2008,"The Baltimore drug scene, as seen through the ...",59m,Crime,United States,TV-MA,9.3,The Wire
2,NaN,2006,A documentary series on the wildlife found on ...,8h 58m,Documentary,United Kingdom,TV-PG,9.4,Planet Earth
3,"Mae Whitman,Dee Bradley Baker,Zach Tyler Eisen",2005â€“2008,"In a war-torn world of elemental magic, a youn...",23m,Animation,United States,TV-Y7-FV,9.3,Avatar: The Last Airbender
4,"Bryan Cranston,Anna Gunn,Aaron Paul",2008â€“2013,A chemistry teacher diagnosed with inoperable ...,49m,Crime,United States,TV-MA,9.5,Breaking Bad
...,...,...,...,...,...,...,...,...,...
245,NaN,2017,A comprehensive history of the United States' ...,16h 30m,Documentary,United States,TV-MA,9.1,The Vietnam War
246,"Martin Freeman,Benedict Cumberbatch,Una Stubbs",2010â€“2017,A modern update finds the famous sleuth and hi...,1h 28m,Crime,United Kingdom,TV-14,9.1,Sherlock
247,"Jay Overholts,Rod Serling,Robert McCord",1959â€“1964,Ordinary people find themselves in extraordina...,51m,Drama,United States,TV-PG,9.1,The Twilight Zone
248,NaN,2020,"Charting the rise of the 1990s Chicago Bulls, ...",8h 11m,Documentary,United States,TV-MA,9.1,The Last Dance
249,NaN,2009,David Attenborough's legendary BBC crew explai...,7h 53m,Documentary,United Kingdom,TV-G,9.1,Life

**Partie 2 : MongoDB**

In [8]:
# se connecter Ã  la base de donnÃ©es MongoDB
load_dotenv()
ATLAS_KEY=os.getenv('ATLAS_KEY')
client = MongoClient(ATLAS_KEY)
db_film = client['myfilms']
collection = db_film["film_table"]

**Quel est le film le plus long ?**

In [9]:


# requÃªte pour trouver le film le plus long
pipeline = [
    {"$group": {"_id": "$titre", "duree": {"$max": "$duree"}}},
    {"$sort": {"duree": -1}},
    {"$limit": 1}
]
result = collection.aggregate(pipeline)

# afficher le titre du film le plus long
for r in result:
    print(r['_id'])

Gone with the Wind

In [10]:
result = collection.find_one({"titre": "Gone with the Wind"})
print(result["duree"])

238

**Quels sont les 5 films les mieux notÃ©s ?**

In [11]:
# requÃªte pour trouver les 5 films avec le plus haut score
result = collection.find().sort("score", pymongo.DESCENDING).limit(5)

# afficher les titres des 5 films avec le plus haut score
for r in result:
    print(r['titre'])

The Shawshank Redemption
The Godfather
The Lord of the Rings: The Return of the King
The Godfather Part II
The Dark Knight

**Dans combien de films a jouÃ© Morgan Freeman ? Tom Cruise ?**

In [12]:
# requÃªte pour trouver le nombre de films dans lesquels Morgan Freeman a jouÃ©
count = collection.count_documents({"acteurs": "Morgan Freeman"})

# afficher le nombre de films dans lesquels Morgan Freeman a jouÃ©
print("Morgan Freeman a jouÃ© dans", count, "films.")

Morgan Freeman a jouÃ© dans 4 films.

In [13]:
# requÃªte pour trouver le nombre de films dans lesquels Tom Cruise a jouÃ©
count = collection.count_documents({"acteurs": "Tom Cruise"})

# afficher le nombre de films dans lesquels Morgan Freeman a jouÃ©
print("Tom Cruise a jouÃ© dans", count, "films.")

Tom Cruise a jouÃ© dans 1 films.

**Quels sont les 3 meilleurs films dâ€™horreur ? Dramatique ? Comique ?**

In [14]:
# requÃªte pour trouver les 3 films du genre "horreur" avec le plus haut score
result = collection.find({"genre": {"$in": ["Horror"]}}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "horreur" avec le plus haut score
for r in result:
    print(r['titre'])

Psycho
Alien
The Shining

In [15]:
# requÃªte pour trouver les 3 films du genre "dramatique" avec le plus haut score
result = collection.find({"genre": {"$in": ["Drama"]}}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "dramatique" avec le plus haut score
for r in result:
    print(r['titre'])

The Shawshank Redemption
The Godfather
The Dark Knight

In [16]:
# requÃªte pour trouver les 3 films du genre "comique" avec le plus haut score
result = collection.find({"genre": {"$in": ["Comedy"]}}).sort("score", pymongo.DESCENDING).limit(3)

# afficher les titres des 3 films du genre "comique" avec le plus haut score
for r in result:
    print(r['titre'])

Life Is Beautiful
The Intouchables
Modern Times

**Parmi les 100 films les mieux notÃ©s, quel pourcentage sont amÃ©ricains ? FranÃ§ais ?**

In [17]:
# rÃ©cupÃ©rer les 100 films avec le plus haut score
top_films = collection.find().sort("score", pymongo.DESCENDING).limit(100)

# extraire les IDs des 100 films avec le plus haut score
top_ids = [f["_id"] for f in top_films]

# compter le nombre de films pour chaque pays parmi les 100 films avec le plus haut score
result = collection.aggregate([
    {"$match": {"_id": {"$in": top_ids}}},
    {"$group": {"_id": "$pays", "nombre_de_films": {"$sum": 1}}},
    {"$sort": {"nombre_de_films": -1}}
])

# calculer le pourcentage pour chaque pays
total_films = len(top_ids)
for r in result:
    percentage = (r["nombre_de_films"] / total_films) * 100
    print(r["_id"], ":", percentage, "%")

United States : 62.0 %
United Kingdom : 8.0 %
Japan : 7.000000000000001 %
Italy : 4.0 %
Germany : 3.0 %
France : 3.0 %
New Zealand : 3.0 %
Canada : 2.0 %
South Korea : 2.0 %
India : 2.0 %
Brazil : 1.0 %
Lebanon : 1.0 %
Denmark : 1.0 %
Soviet Union : 1.0 %

**Quel est la durÃ©e moyenne dâ€™un film en fonction du genre ?**

In [18]:
# requÃªte pour calculer la durÃ©e moyenne d'un film en fonction de son genre
result = collection.aggregate([
    {"$unwind": "$genre"},  # dÃ©compose chaque document en fonction de la valeur de genre
    {"$group": {"_id": "$genre", "duree_moyenne": {"$avg": "$duree"}}}
])

# afficher les rÃ©sultats
for r in result:
    print(r["_id"], ":", r["duree_moyenne"])

Comedy : 105.6
Thriller : 123.875
Sci-Fi : 131.7
Romance : 118.47826086956522
Biography : 145.5
History : 152.11111111111111
Mystery : 124.61290322580645
Sport : 128.5
Animation : 100.95652173913044
Adventure : 130.11666666666667
Family : 114.53846153846153
Musical : 103.0
War : 140.04545454545453
Western : 153.85714285714286
Drama : 134.49714285714285
Film-Noir : 110.0
Action : 133.98
Horror : 120.6
Music : 134.25
Fantasy : 123.57142857142857
Crime : 132.5